<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%= title %></title>
    <!-- Font Icon -->
    <link
      rel="stylesheet"
      href="./../fonts/material-icon/css/material-design-iconic-font.min.css"
    />
    <!-- <link rel="stylesheet" href="./../vendor/css/boostrap.min.css"> -->
    <link rel="stylesheet" href="./../style.css" />
  </head>
  <body>
    <header class="page-header">
      <input id="menu-toggle-input" type="checkbox" />
      <label class="menu-toggle" for="menu-toggle-input">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </label>
      <nav class="menu">
        <ol>
          <li class="menu-item"><a href="#0">Tổng Tài Sản</a></li>
          <li class="menu-item"><a href="#0">Quỹ Tiêu Dùng</a></li>
          <li class="menu-item">
            <a href="#0">Quỹ Đầu Tư</a>
            <ol class="sub-menu">
              <li class="menu-item"><a href="#0">Quỹ Đầu Tư Cá Nhân</a></li>
              <li class="menu-item"><a href="#0">Quỹ Đầu Tư Nhàn Rỗi</a></li>
              <li class="menu-item"><a href="#0">Quỹ Dự Phòng</a></li>
            </ol>
          </li>
        </ol>
      </nav>
    </header>
